.container {
    text-align: center;
}
#imageContainer {
    margin: 0 auto;
    margin-bottom: 15px;
}

#celebrityImage {
    width: 800px;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
}

.overlayText {
    color: white;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    text-align: center;
}